body{
    background-image: url(./images/pngtree-full-3d-radial-gradient-background-redcreative-backgroundcolored-radiation-image_84559.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}